/*
    Document   : handwriting
    Created on : 2012-3-10, 16:02:45
    Author     : TXK
    Description:
        Purpose of the stylesheet follows.
*/

#page{
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    position: static;
}

#search-area{
    vertical-align: bottom;
    margin-bottom: 5px;
}

#result-text{
    width: 75%;
    margin-top: 5px;
    float: left;
}

#main-table {
    margin-bottom: 5px;
}

#main-table div{
    vertical-align: top;
}

#background{
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: #888;
    background-color: aliceblue;
    border-collapse: collapse;
    cursor: default;
}

#writing-canvas{
    float: left;
    width: 300px;
    height: 300px;
    cursor: default;
}

#result-area {
    float: right;
    width: 140px;
    height: 290px;
    padding: 5px;
    background-color: seashell;
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    border-color: #888;
}

.result-list li{
    float: left;
    width: 50%;
    cursor: pointer;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#button-area{
    width: 204px;
    margin-left: auto;
    margin-right: auto;
}

#train-button-area {
    float: right;
    width: 140px;
    height: 290px;
}